<h1 class="title">¡Bienvenidos al CoderChat comunitario!</h1>
<div>
  <input id="chatBox" class="chat-input">
</div>
<div id="messageLogs" class="message-logs">
  <p class="chat-instructions">¡Comienza a chatear enviando un mensaje!</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>